<%= simple_form_for task do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :is_done, required: true %>
    <%= f.input :file %>

    <%= f.association :project %>
    <%= f.association :tags, as: :check_boxes %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: "btn-dark" %>
  </div>
<% end %>
