<!DOCTYPE html>
<html>
  <head>
    <title>TasksApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous" data-turbolinks-track='false'></script>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% flash.each do |type, message| %>
      <div class="container-fluid w-25 position-absolute top-0 start-50 translate-middle-x alert alert-warning alert-dismissible fade show z-3" role="alert">
        <%= message %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    <% end %>

    <nav class="navbar navbar-expand bg-dark border-bottom border-body border-1 py-0" data-bs-theme="dark">
      <div class="container-fluid">
        <%= link_to "(logo)", root_path, class: "navbar-brand" %>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto">
            <li class="nav-item ">
              <%= link_to "Home", root_path, class: "nav-link" %>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Add new
              </a>
              <ul class="dropdown-menu dropdown-menu-end">
                <li><%= link_to "Project", new_project_path, class: "dropdown-item" %></li>
                <li><%= link_to "Task", new_task_path, class: "dropdown-item" %></li>
                <li><%= link_to "Tag", new_tag_path, class: "dropdown-item" %></li>
              </ul>
            </li>
          </ul>

          <ul class="navbar-nav" >
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Account
              </a>
              <ul class="dropdown-menu dropdown-menu-end">
                <li><%= link_to "Edit my profile",  edit_user_registration_path, class: "dropdown-item" %></li>
                <li><%= link_to "Log out", destroy_user_session_path, data: { turbo_method: :delete }, class: "dropdown-item" %></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid py-2">
      <div class="row vh-100">
        <div class="col-3 overflow-y-auto my-3">
          <div class="row justify-content-center">
            <% links_class = "fw-semibold fs-5 link-dark link-underline-opacity-25 link-underline-opacity-75-hover" %>
            <div class="col-10 p-3">
              <%= link_to "Projects", projects_path, class: links_class %>
            </div>
            <div class="col-10 p-3">
              <%= link_to "Tasks", tasks_path, class: links_class %>
            </div>
            <div class="col-10 p-3">
              <%= link_to "Tags", tags_path, class: links_class %>
            </div>
          </div>
        </div>
        <div class="col-9 overflow-y-auto my-3">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
